Repository UA-Smart-Signage-Platform/Content-Manager-System-and-Content-Creator-Tool, pull requests merged in 2024-04, with the labels that each got.

#43 created container for dev for postgres
  backend/LeISTO_DEpoisAPaga.md
  backend/uasmartsignage/.gitignore
  backend/uasmartsignage/.mvn/wrapper/maven-wrapper.jar
  backend/uasmartsignage/.mvn/wrapper/maven-wrapper.properties
  backend/uasmartsignage/docker-compose.yml
  backend/uasmartsignage/mvnw
  backend/uasmartsignage/mvnw.cmd
  backend/uasmartsignage/pom.xml
  backend/uasmartsignage/run.sh
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/UasmartsignageApplication.java
  backend/uasmartsignage/src/main/resources/application.properties
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/UasmartsignageApplicationTests.java
Labels: Docker, Backend

#44 create a docker environment for developing spring boot
  backend/uasmartsignage/Dockerfile
  backend/uasmartsignage/docker-compose.yml
Labels: Docker, Backend

#45 modeling the entities
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Content.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Monitor.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/MonitorsGroup.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Template.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/TemplateGroup.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/TemplateWidget.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/User.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Widget.java
Labels: Docker, Backend

#46 create services and repositories
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/ContentRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/MonitorGroupRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/MonitorRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/TemplateGroupRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/TemplateRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/TemplateWidgetRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/UserRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/WidgetRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/ContentService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/MonitorGroupService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/MonitorService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/TemplateGroupService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/TemplateService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/TemplateWidgetService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/UserService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/WidgetService.java
Labels: Backend

#47 create controllers
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/ContentController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorGroupController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/TemplateController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/TemplateGroupController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/TemplateWidgetController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/WidgetController.java
Labels: Backend

#48 mqtt integration
  backend/uasmartsignage/docker-compose.yml
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Configuration/MqttConfig.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MqttController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Mqtt/MqttPublish.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Mqtt/MqttSubscribe.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/exceptions/ExceptionMessages.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/exceptions/MqttException.java
Labels: Backend

#49 model service and controller for file
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/FileController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/CustomFile.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/FilesClass.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/FileRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/FileService.java
  backend/uasmartsignage/src/main/resources/static/upload.html
Labels: Backend

#52 swagger api documentation
  backend/uasmartsignage/pom.xml
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Configuration/SwaggerConfig.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/ContentController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/FileController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorGroupController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/TemplateController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/TemplateGroupController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/TemplateWidgetController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/WidgetController.java
  backend/uasmartsignage/src/main/resources/application.properties
Labels: documentation, Backend

#54 Create monitors service, populate page and substitute table with data table
  backend/.idea/.gitignore
  backend/.idea/vcs.xml
  backend/uasmartsignage/spring-server-tcpmqtt1883/.lck
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/MonitorsGroup.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/TemplateGroupService.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/GroupBar/index.jsx
  frontend/src/components/MonitorRow/index.jsx
  frontend/src/components/PageTitle/EndTitleHtml.jsx
  frontend/src/components/PageTitle/StartTitleHtml.jsx
  frontend/src/components/Portals/index.jsx
  frontend/src/components/index.jsx
  frontend/src/pages/Dashboard/index.jsx
  frontend/src/pages/Monitor/index.jsx
  frontend/src/pages/Monitors/index.jsx
  frontend/src/services/client.jsx
  frontend/src/services/monitorService.jsx
  frontend/src/services/monitorsGroupService.jsx
Labels: enhancement, Frontend

#57 Fix to a relationship removed by a merge.
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/MonitorsGroup.java
Labels: bug, Backend

#61 fixed swagger ui now returns ui
  backend/uasmartsignage/pom.xml
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Configuration/SwaggerConfig.java
  backend/uasmartsignage/src/main/resources/application.properties
Labels: bug, Backend

#63 Merge Backend Docker Configuration with Frontend for Streamlined Development
  docker-compose.yaml
Labels: Docker, Backend

#67 Revamping some of the current file media implementation
  backend/uasmartsignage/pom.xml
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/FileController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorGroupController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/CustomFile.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/FilesClass.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/FileService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/UasmartsignageApplication.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/integrationTests/FileServiceIT.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/repositoryTests/FileRepositoryTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/FileServiceTest.java
Labels: documentation, enhancement, Backend

#68 66 refactoring of monitors and their servicescontrollers
  backend/uasmartsignage/pom.xml
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Monitor.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/MonitorsGroup.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/TemplateGroup.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/MonitorRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/MonitorService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/TemplateGroupService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/UasmartsignageApplication.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/initializer/DataLoader.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/UasmartsignageApplicationTests.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/controllerTests/MonitorControllerTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/repositoryTests/MonitorRepositoryTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/MonitorServiceTest.java
Labels: enhancement, Backend

#70 Created media service and added functionality to add folders and files
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/FileController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/CustomFile.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/FilesClass.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/FileRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/FileService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/UasmartsignageApplication.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/integrationTests/FileServiceIT.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/repositoryTests/FileRepositoryTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/FileServiceTest.java
  frontend/src/components/Portals/index.jsx
  frontend/src/pages/Media/index.jsx
  frontend/src/services/client.jsx
  frontend/src/services/mediaService.jsx
Labels: enhancement, Frontend, Backend

#73 55 fix endpoints in monitors page
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorGroupController.java
  frontend/src/components/PageTitle/EndTitleHtml.jsx
  frontend/src/components/Portals/MediaFileModal.jsx
  frontend/src/components/Portals/MediaFolderModal.jsx
  frontend/src/components/Portals/PendingMonitorsModal.jsx
  frontend/src/components/Portals/index.jsx
  frontend/src/components/index.jsx
  frontend/src/pages/Media/index.jsx
  frontend/src/pages/Monitors/index.jsx
  frontend/src/services/monitorService.jsx
  frontend/src/services/monitorsGroupService.jsx
Labels: enhancement, Frontend

#76 handle mqtt messages in backend
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Monitor.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Mqtt/ConfirmRegistrationMessage.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Mqtt/MqttSubscriberService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Mqtt/RegistrationMessage.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Mqtt/TemplateMessage.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/MonitorService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/TemplateGroupService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/initializer/DataLoader.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/repositoryTests/MonitorRepositoryTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/MonitorServiceTest.java
  frontend/src/components/Portals/PendingMonitorsModal.jsx
  frontend/src/pages/Monitors/index.jsx
Labels: Backend

#77 Add static information to dashboard page
  frontend/src/pages/Dashboard/index.jsx
Labels: enhancement, Frontend

#78 Adding templates to database and create functions for generating the html.
  backend/uasmartsignage/pom.xml
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/TemplateGroupController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/WidgetController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Content.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Monitor.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Template.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/TemplateWidget.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Widget.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Mqtt/MqttSubscriberService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/TemplateGroupRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/WidgetRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/TemplateGroupService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/TemplateService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/WidgetService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/initializer/DataLoader.java
  backend/uasmartsignage/src/main/resources/static/base.html
  backend/uasmartsignage/src/main/resources/static/widgets/image.widget
  backend/uasmartsignage/src/main/resources/static/widgets/media.widget
  backend/uasmartsignage/src/main/resources/static/widgets/news.widget
  backend/uasmartsignage/src/main/resources/static/widgets/temperature.widget
  backend/uasmartsignage/src/main/resources/static/widgets/time.widget
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/controllerTests/MonitorControllerTest.java
Labels: Backend, MediaPlayer

#82 Add basic static information and service to schedule page
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/TemplateController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/TemplateGroupController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/MonitorsGroup.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/initializer/DataLoader.java
  backend/uasmartsignage/src/main/resources/static/widgets/news.widget
  frontend/src/components/PageTitle/StartTitleHtml.jsx
  frontend/src/components/PageTitle/index.jsx
  frontend/src/index.jsx
  frontend/src/pages/Schedule/index.jsx
  frontend/src/pages/index.jsx
  frontend/src/services/activeTemplateService.jsx
  frontend/src/services/templateService.jsx
Labels: enhancement, Frontend

#83 sonarcloud integration
  .github/workflows/build.yml
  backend/uasmartsignage/pom.xml
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/UasmartsignageApplicationTests.java
Labels: enhancement, sonarcloud

#85 page monitor now can change name and group
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/MonitorService.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/MonitorServiceTest.java
  frontend/src/components/PageTitle/StartTitleHtml.jsx
  frontend/src/pages/Monitor/index.jsx
  frontend/src/pages/Monitors/index.jsx
  frontend/src/services/monitorService.jsx
Labels: enhancement, frontend, backend

#88 Add functionality to preview media files and better its page visual aspect
  backend/uasmartsignage/spring-server-tcpmqtt1883/.lck
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Configuration/MvcConfig.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/initializer/DataLoader.java
  backend/uasmartsignage/src/main/resources/application.properties
  frontend/src/components/NavBar/index.jsx
  frontend/src/components/Portals/MediaFileModal.jsx
  frontend/src/components/Portals/MediaFolderModal.jsx
  frontend/src/components/Portals/PendingMonitorsModal.jsx
  frontend/src/pages/Media/index.jsx
Labels: enhancement, frontend, backend

#92 91 groupbar add option to edit groups and add new group
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/MonitorGroupService.java
  frontend/src/components/GroupBar/index.jsx
  frontend/src/services/monitorsGroupService.jsx
Labels: enhancement, frontend

#87 influxdb, add influxdb logs to backend
  backend/uasmartsignage/docker-compose.yml
  backend/uasmartsignage/pom.xml
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Configuration/InfluxDBProperties.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/LogController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/BackendLog.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Severity.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/FileService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/LogsService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/UasmartsignageApplication.java
  backend/uasmartsignage/src/main/resources/application.properties
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/FileServiceTest.java
  docker-compose.yaml
  entrypoint.sh
Labels: enhancement, docker, backend

#95 groups refined functionality
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorGroupController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/MonitorsGroup.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Mqtt/MqttSubscriberService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/MonitorGroupRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/MonitorGroupService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/MonitorService.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/repositoryTests/MonitorsGroupRepositoryTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/MonitorGroupTest.java
Labels: enhancement, backend

#98 97 monitors page add delete group functionality
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/MonitorsGroup.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/MonitorService.java
  frontend/src/components/GroupBar/index.jsx
  frontend/src/pages/Monitor/index.jsx
  frontend/src/pages/Monitors/index.jsx
  frontend/src/services/monitorsGroupService.jsx
Labels: enhancement, frontend, backend
