Repository UA-Smart-Signage-Platform/Content-Manager-System-and-Content-Creator-Tool, pull requests merged in 2024-08, with the labels that each got.

#182 Switch framework from CRA to Vite (and small adjustments)
  backend/src/main/java/pt/ua/deti/uasmartsignage/configuration/SecurityConfig.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/constants/DESCRIPTION.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/constants/LOG.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/constants/OPERATION.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/controllers/FileController.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/services/FileService.java
  backend/src/test/java/pt/ua/deti/uasmartsignage/integrationTests/ContentIT.java
  backend/src/test/java/pt/ua/deti/uasmartsignage/integrationTests/FileIT.java
  backend/src/test/java/pt/ua/deti/uasmartsignage/serviceTests/FileServiceTest.java
  dev.env
  docker-compose.yaml
  frontend/.docker/.dockerignore
  frontend/.docker/Dockerfile
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.test.js
  frontend/src/components/GroupBar/index.jsx
  frontend/src/components/MediaRow/index.jsx
  frontend/src/components/MonitorRow/index.jsx
  frontend/src/components/NavBar/index.jsx
  frontend/src/components/PageTitle/EndTitleHtml.jsx
  frontend/src/components/PageTitle/index.jsx
  frontend/src/components/Portals/MediaFileModal.jsx
  frontend/src/components/Portals/MediaFolderModal.jsx
  frontend/src/components/Portals/ScheduleContentModal.jsx
  frontend/src/components/index.jsx
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/src/pages/index.jsx
  frontend/src/reportWebVitals.js
  frontend/src/routes/Admin/index.jsx
  frontend/src/routes/Cct/index.jsx
  frontend/src/routes/ChangePassword/index.jsx
  frontend/src/routes/Dashboard/index.jsx
  frontend/src/routes/Media/index.jsx
  frontend/src/routes/Monitor/index.jsx
  frontend/src/routes/Monitors/index.jsx
  frontend/src/routes/Root/index.jsx
  frontend/src/routes/Schedule/index.jsx
  frontend/src/routes/Templates/index.jsx
  frontend/src/routes/Wso2Login/index.jsx
  frontend/src/routes/index.jsx
  frontend/src/services/client.jsx
  frontend/src/services/mediaService.jsx
  frontend/src/setupTests.js
  frontend/src/static/logo.svg
  frontend/vite.config.js
Labels: frontend, backend, design fix/enhancement

#183 Update visual of login page
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/routes/Wso2Login/SignInDiv.jsx
  frontend/src/routes/Wso2Login/index.jsx
  frontend/src/routes/Wso2Login/particlesConfigs.js
  frontend/src/static/green-name.svg
Labels: frontend, design fix/enhancement

#184 Create static elements within dashboard, logs page and some basic functionality
  backend/src/main/java/pt/ua/deti/uasmartsignage/controllers/MonitorController.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/repositories/MonitorRepository.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/services/MonitorService.java
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/DashboardGraph/index.jsx
  frontend/src/components/GroupBar/index.jsx
  frontend/src/components/PageTitle/EndTitleHtml.jsx
  frontend/src/components/PageTitle/MiddleTitleHtml.jsx
  frontend/src/components/PageTitle/StartTitleHtml.jsx
  frontend/src/components/PageTitle/index.jsx
  frontend/src/main.jsx
  frontend/src/routes/Dashboard/index.jsx
  frontend/src/routes/Dashboard/tableDataConfig.js
  frontend/src/routes/Dashboard/tableStyleConfig.js
  frontend/src/routes/Logs/index.jsx
  frontend/src/routes/Media/index.jsx
  frontend/src/routes/Monitor/index.jsx
  frontend/src/routes/Monitors/index.jsx
  frontend/src/routes/Root/index.jsx
  frontend/src/routes/Schedule/index.jsx
  frontend/src/routes/index.jsx
  frontend/src/services/monitorService.jsx
  frontend/tailwind.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
Labels: enhancement, frontend, backend

#185 Updating state management of login
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/NavBar/index.jsx
  frontend/src/routes/Dashboard/index.jsx
  frontend/src/routes/Dashboard/tableDataConfig.jsx
  frontend/src/routes/Dashboard/tableStyleConfig.jsx
  frontend/src/routes/Root/index.jsx
  frontend/src/routes/Wso2Login/SignInDiv.jsx
  frontend/src/routes/Wso2Login/index.jsx
  frontend/src/services/client.jsx
  frontend/src/stores/useUserStore.jsx
Labels: enhancement, frontend, refactor
