Repository UA-Smart-Signage-Platform/Content-Manager-System-and-Content-Creator-Tool, pull requests merged in 2024-09, with the labels that each got.

#188 181 login update state management of login
  frontend/src/components/NavBar/index.jsx
  frontend/src/main.jsx
  frontend/src/routes/ProtectedRoute/index.jsx
  frontend/src/routes/Root/index.jsx
  frontend/src/routes/Wso2Login/SignInDiv.jsx
  frontend/src/routes/Wso2Login/index.jsx
  frontend/src/routes/index.jsx
  frontend/src/stores/useUserStore.jsx
Labels: frontend, design fix/enhancement

#191 Update monitor groups
  backend/src/main/java/pt/ua/deti/uasmartsignage/configuration/SecurityConfig.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/initializer/DataLoader.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/services/MonitorGroupService.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/services/MonitorService.java
  backend/src/test/java/pt/ua/deti/uasmartsignage/serviceTests/MonitorServiceTest.java
  frontend/src/components/Errors/errorUtils.jsx
  frontend/src/components/Errors/index.jsx
  frontend/src/components/Errors/pageNotFound.jsx
  frontend/src/components/GroupBar/index.jsx
  frontend/src/components/NavBar/index.jsx
  frontend/src/components/PageTitle/EndTitleHtml.jsx
  frontend/src/components/Portals/PendingMonitorsModal.jsx
  frontend/src/components/index.jsx
  frontend/src/main.jsx
  frontend/src/routes/Monitor/errorConfig.jsx
  frontend/src/routes/Monitor/groupConfig.jsx
  frontend/src/routes/Monitor/index.jsx
  frontend/src/routes/Monitor/lastUpdateConfig.jsx
  frontend/src/routes/Monitor/loadingConfig.jsx
  frontend/src/routes/Monitor/memoryConfig.jsx
  frontend/src/routes/Monitor/previewConfig.jsx
  frontend/src/routes/Monitor/statusConfig.jsx
  frontend/src/routes/Monitor/templateConfig.jsx
  frontend/src/routes/Monitor/updatedConfig.jsx
  frontend/src/routes/Monitor/updatingMonitorConfig.jsx
  frontend/src/routes/Monitors/index.jsx
  frontend/src/routes/Monitors/tableDataConfig.jsx
  frontend/src/routes/Monitors/tableStyleConfig.jsx
  frontend/src/routes/ProtectedRoute/index.jsx
  frontend/src/routes/Root/index.jsx
  frontend/src/routes/Wso2Login/SignInDiv.jsx
  frontend/src/routes/Wso2Login/index.jsx
  frontend/src/routes/index.jsx
  frontend/src/services/monitorService.jsx
  frontend/src/services/monitorsGroupService.jsx
  frontend/src/stores/useUserStore.jsx
Labels: frontend, backend, design fix/enhancement, refactor

#193 Update schedule page and functionality to match new DB
  backend/src/main/java/pt/ua/deti/uasmartsignage/controllers/RuleController.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/initializer/DataLoader.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/models/embedded/Schedule.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/services/RuleService.java
  backend/src/main/resources/static/widgets/timeCustom.html
  backend/src/test/java/pt/ua/deti/uasmartsignage/integrationTests/BaseIntegrationTest.java
  backend/src/test/java/pt/ua/deti/uasmartsignage/integrationTests/FileIT.java
  backend/src/test/java/pt/ua/deti/uasmartsignage/integrationTests/MonitorIT.java
  frontend/src/components/Portals/ScheduleModal.jsx
  frontend/src/components/Portals/schedule/MediaContentModal.jsx
  frontend/src/components/Portals/schedule/ScheduleContentModal.jsx
  frontend/src/components/Portals/schedule/ScheduleModal.jsx
  frontend/src/components/Portals/schedule/mediaContentModalUtils.jsx
  frontend/src/components/Portals/schedule/scheduleModalUtils.jsx
  frontend/src/components/Widgets/index.jsx
  frontend/src/components/Widgets/mediaWidgetConfig.jsx
  frontend/src/components/Widgets/optionWidgetConfig.jsx
  frontend/src/components/Widgets/widgetUtils.jsx
  frontend/src/components/index.jsx
  frontend/src/routes/Schedule/buttonsConfig.jsx
  frontend/src/routes/Schedule/index.jsx
  frontend/src/routes/Schedule/priorityConfig.jsx
  frontend/src/routes/Schedule/utilsConfig.jsx
  frontend/src/services/activeTemplateService.jsx
  frontend/src/services/ruleService.jsx
Labels: frontend, design fix/enhancement, refactor

#195 Add logs to services on backend for future frontend use and display.
  backend/src/main/java/pt/ua/deti/uasmartsignage/configuration/InfluxDBProperties.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/controllers/FileController.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/controllers/LogController.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/controllers/MonitorController.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/controllers/MonitorGroupController.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/controllers/RuleController.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/controllers/TemplateController.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/enums/Description.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/enums/Log.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/enums/Operation.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/enums/Severity.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/repositories/MonitorGroupRepository.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/services/FileService.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/services/LogsService.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/services/MonitorGroupService.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/services/MonitorService.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/services/RuleService.java
  backend/src/main/java/pt/ua/deti/uasmartsignage/services/TemplateService.java
  backend/src/test/java/pt/ua/deti/uasmartsignage/controllerTests/MonitorControllerTest.java
  backend/src/test/java/pt/ua/deti/uasmartsignage/serviceTests/FileServiceTest.java
  backend/src/test/java/pt/ua/deti/uasmartsignage/serviceTests/MonitorServiceTest.java
  frontend/src/routes/Dashboard/index.jsx
  frontend/src/services/logService.jsx
Labels: enhancement, backend, refactor, Logs
