Repository UA-Smart-Signage-Platform/Content-Manager-System-and-Content-Creator-Tool, pull requests merged in 2024-05, with the labels that each got.

#107 Add UI, rule content choosing and content functionality service to schedule page
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Content.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/TemplateRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/ContentService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/initializer/DataLoader.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Portals/ScheduleContentModal.jsx
  frontend/src/components/Portals/ScheduleModal.jsx
  frontend/src/components/index.jsx
  frontend/src/pages/Schedule/index.jsx
Labels: enhancement, frontend

#104 schedule revamp(some changes on the entity schedule)
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Schedule.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/controllerTests/ScheduleControllerTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/repositoryTests/ScheduleRepositoryTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/ScheduleServiceTest.java
Labels: enhancement, backend

#111 Fix select dropdown, size UI and date picker bug
  frontend/src/components/Portals/ScheduleModal.jsx
Labels: bug, frontend

#113 109 frontend media make breadcrums functional
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/FileController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/FileRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/FileService.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/FileServiceTest.java
  frontend/src/components/Portals/MediaFileModal.jsx
  frontend/src/index.jsx
  frontend/src/pages/Media/index.jsx
  frontend/src/pages/Monitors/index.jsx
  frontend/src/routes/Root/index.jsx
  frontend/src/services/mediaService.jsx
Labels: bug, frontend, backend

#114 Add validations and explanations to UI info in schedule page
  frontend/src/components/PageTitle/StartTitleHtml.jsx
  frontend/src/components/Portals/ScheduleModal.jsx
Labels: frontend

#117 crated template list page
  frontend/src/components/PageTitle/StartTitleHtml.jsx
  frontend/src/index.jsx
  frontend/src/pages/Templates/index.jsx
  frontend/src/pages/index.jsx
Labels: enhancement, frontend

#99 user ua idp integration and alternative admin login
  backend/uasmartsignage/pom.xml
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Configuration/JwtAuthFilter.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Configuration/SecurityConfig.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/AuthController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/UserController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/AppUser.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Schedule.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/UserRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/CustomUserDetailsService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/JwtUtilService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/UserService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/UasmartsignageApplication.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/authentication/AuthenticationFacade.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/authentication/AuthenticationRequest.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/authentication/AuthenticationResponse.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/authentication/ChangePasswordRequest.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/authentication/IAuthenticationFacade.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/exceptions/IdpUsernameFetchException.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/exceptions/SecureRandomGenerationException.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/controllerTests/FileControllerTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/controllerTests/MonitorControllerTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/controllerTests/ScheduleControllerTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/repositoryTests/ScheduleRepositoryTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/ScheduleServiceTest.java
  frontend/src/components/NavBar/index.jsx
  frontend/src/index.jsx
  frontend/src/pages/Admin/index.jsx
  frontend/src/pages/Wso2Login/index.jsx
  frontend/src/pages/index.jsx
  frontend/src/routes/Root/index.jsx
  frontend/src/services/adminService.jsx
  frontend/src/services/client.jsx
  frontend/src/services/loginService.jsx
Labels: frontend, backend

#120 116 dashboard create graphs for log display
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DashboardGraph/index.jsx
  frontend/src/components/index.jsx
  frontend/src/pages/Dashboard/index.jsx
Labels: enhancement, frontend

#124 Change admin password, routes protected, logout button fixed
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Configuration/SecurityConfig.java
  frontend/src/components/NavBar/index.jsx
  frontend/src/index.jsx
  frontend/src/pages/ChangePassword/index.jsx
  frontend/src/pages/Wso2Login/index.jsx
  frontend/src/pages/index.jsx
  frontend/src/routes/Root/index.jsx
  frontend/src/services/client.jsx
  frontend/src/services/loginService.jsx
Labels: frontend

#128 Add CRUD functionalities and group selection verification to schedule page
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/ScheduleController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/ScheduleService.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/PageTitle/StartTitleHtml.jsx
  frontend/src/components/Portals/ScheduleModal.jsx
  frontend/src/pages/Schedule/index.jsx
  frontend/src/routes/Root/index.jsx
  frontend/src/services/activeTemplateService.jsx
  frontend/src/services/client.jsx
  frontend/src/services/monitorsGroupService.jsx
  frontend/src/services/scheduleService.jsx
Labels: enhancement, frontend, backend

#132 Update monitors list automatically and allow user to refresh pending list
  frontend/src/components/PageTitle/EndTitleHtml.jsx
  frontend/src/components/PageTitle/index.jsx
  frontend/src/components/Portals/PendingMonitorsModal.jsx
  frontend/src/pages/Monitors/index.jsx
Labels: enhancement, frontend

#133 Add delete confirmation button
  frontend/src/components/Portals/ScheduleDeleteModal.jsx
  frontend/src/components/index.jsx
  frontend/src/pages/Schedule/index.jsx
Labels: enhancement, frontend

#127 Send all rules to monitors
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Schedule.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Mqtt/RulesMessage.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/TemplateGroupService.java
  frontend/src/routes/Root/index.jsx
Labels: backend

#134 Delete file/folder in Media page
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Configuration/SecurityConfig.java
  frontend/src/components/Portals/FunctionModal.jsx
  frontend/src/components/Portals/MediaFolderModal.jsx
  frontend/src/components/index.jsx
  frontend/src/pages/Media/index.jsx
  frontend/src/pages/Schedule/index.jsx
  frontend/src/services/mediaService.jsx
Labels: enhancement, frontend

#137 added warning for user that tehy cant edit the template if its used
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Template.java
  frontend/src/pages/Templates/index.jsx
Labels: bug, frontend

#142 fixing issues when there is no initial data
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorGroupController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/MonitorGroupRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/MonitorGroupService.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/repositoryTests/MonitorsGroupRepositoryTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/MonitorGroupTest.java
  frontend/src/pages/Templates/index.jsx
Labels: bug, frontend, backend

#135 logs finishing backend logs and monitor logs
  Dockerfile
  backend/uasmartsignage/docker-compose.yml
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Configuration/InfluxDBProperties.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Configuration/SecurityConfig.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/FileController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorGroupController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/TemplateController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/TemplateGroupController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/WidgetController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/FilesClass.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Monitor.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/MonitorsGroup.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Schedule.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Severity.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Template.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/TemplateGroup.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/TemplateWidget.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Widget.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Mqtt/KeepAliveMessage.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Mqtt/MqttSubscriberService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/TemplateGroupRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/WidgetRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/ContentService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/CustomUserDetailsService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/FileService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/LogsService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/MonitorGroupService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/MonitorService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/ScheduleService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/TemplateGroupService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/TemplateService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/TemplateWidgetService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/UserService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/WidgetService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/UasmartsignageApplication.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/initializer/DataLoader.java
  backend/uasmartsignage/src/main/resources/application.properties
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/UasmartsignageApplicationTests.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/controllerTests/FileControllerTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/controllerTests/ScheduleControllerTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/datainit/DataInit.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/datainit/FilesDataInit.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/integrationTests/BaseIntegrationTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/integrationTests/FileServiceIT.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/repositoryTests/MonitorsGroupRepositoryTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/repositoryTests/ScheduleRepositoryTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/FileServiceTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/MonitorGroupTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/MonitorServiceTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/ScheduleServiceTest.java
  backend/uasmartsignage/src/test/java/deti/uas/uasmartsignage/serviceTests/TemplateGroupServiceTest.java
  docker-compose.yaml
  entrypoint.sh
  frontend/src/components/Portals/MediaFileModal.jsx
  frontend/src/pages/Monitor/index.jsx
  frontend/src/routes/Root/index.jsx
Labels: enhancement, backend

#149 Frontend Online Monitor : Add logic to frontend Display monitor Online
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Monitor.java
  frontend/src/pages/Monitor/index.jsx
  frontend/src/pages/Monitors/index.jsx
Labels: enhancement, frontend

#145 Frontend : fix some issues on user error using delete and chosing name of templates
  frontend/src/components/GroupBar/index.jsx
  frontend/src/pages/Cct/index.jsx
  frontend/src/pages/Monitor/index.jsx
Labels: bug, frontend

#148 Fix select display bug when selecting rule and add clean functionality on template switch
  frontend/src/components/Portals/ScheduleModal.jsx
  frontend/src/pages/Schedule/index.jsx
Labels: bug, frontend

#151 Fix admin password not saving when server goes down
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/AppUser.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/CustomUserDetailsService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/UserService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/initializer/DataLoader.java
  frontend/src/pages/Wso2Login/index.jsx
Labels: frontend, backend

#153 Create production docker and Miscellaneous fixes
  backend/uasmartsignage/Dockerfile.prod
  backend/uasmartsignage/run.sh
  backend/uasmartsignage/spring-server-tcpmosquitto1883/.lck
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Configuration/MqttConfig.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Configuration/SecurityConfig.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/AuthController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/ContentController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/FileController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MonitorGroupController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/MqttController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/ScheduleController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/TemplateController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/TemplateGroupController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/TemplateWidgetController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/UserController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Controllers/WidgetController.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Monitor.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/MonitorsGroup.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Schedule.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Template.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/TemplateGroup.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Models/Widget.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Mqtt/MqttSubscriberService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/MonitorGroupRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Repositories/MonitorRepository.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/MonitorService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/ScheduleService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/TemplateGroupService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/Services/UserService.java
  backend/uasmartsignage/src/main/java/deti/uas/uasmartsignage/initializer/DataLoader.java
  backend/uasmartsignage/src/main/resources/application.properties
  backend/uasmartsignage/src/main/resources/static/widgets/events.widget
  dev.env
  docker-compose.prod.yaml
  docker-compose.yaml
  frontend/.docker/Dockerfile.prod
  frontend/nginx/default.conf
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/pages/Media/index.jsx
  frontend/src/pages/Schedule/index.jsx
  frontend/src/services/activeTemplateService.jsx
  frontend/src/services/client.jsx
  mosquitto/mosquitto.conf
  prod.env
Labels: docker
